/StopWatchQuickTutorial/build-StopWatchQuickTutorial-Desktop_Qt_5_14_1_MinGW_32_bit-Debug/.qmake.stash
/StopWatchQuickTutorial/build-StopWatchQuickTutorial-Desktop_Qt_5_14_1_MinGW_32_bit-Debug/main.o
/StopWatchQuickTutorial/build-StopWatchQuickTutorial-Desktop_Qt_5_14_1_MinGW_32_bit-Debug/Makefile
/StopWatchQuickTutorial/build-StopWatchQuickTutorial-Desktop_Qt_5_14_1_MinGW_32_bit-Debug/moc_predefs.h
/StopWatchQuickTutorial/build-StopWatchQuickTutorial-Desktop_Qt_5_14_1_MinGW_32_bit-Debug/moc_stopwatch.cpp
/StopWatchQuickTutorial/build-StopWatchQuickTutorial-Desktop_Qt_5_14_1_MinGW_32_bit-Debug/moc_stopwatch.o
/StopWatchQuickTutorial/build-StopWatchQuickTutorial-Desktop_Qt_5_14_1_MinGW_32_bit-Debug/qrc_qml.cpp
/StopWatchQuickTutorial/build-StopWatchQuickTutorial-Desktop_Qt_5_14_1_MinGW_32_bit-Debug/qrc_qml.o
/StopWatchQuickTutorial/build-StopWatchQuickTutorial-Desktop_Qt_5_14_1_MinGW_32_bit-Debug/StopWatchQuickTutorial.exe
